body {
    background-color: grey
    scroll-behavior: smooth;
    text-size-adjust: 18;
    
    
}

header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    background-color: grey;
    text-align: center;
    border-color: black;
    border-style: double;
}

.Education {
    background-color: grey;
    border-color: black;
    border-style: double;

}

.Languages img{
    float: left
    text-align: right
    
}

.Languages {
    border-color: black;
    border-style: double;
}

.WorkHistory {
    background-color: grey
    border-color: black
    border-style: double

}

.OtherDetails {
    background-color: grey
    border-color: black
    border-style: double
}

.books {
    background-color: grey;
    border-color: black;
    border-style: double;
}

#NewThings {
    background-color:grey
    border-color: black
    border-style: double
}

#Quiz {
    background-color: 
    color: rgb(0, 0, 0);
    border-color: black 
    border-style: double
}